<mat-toolbar color="primary">
  <button mat-icon-button (click)="onMenuToggleDispatch()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    Bienvenido a Sol Tour Bolivia
  </span>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout="row" fxLayoutGap="15px" class="navigation-menu">
      <li *ngIf="stateUser"><a routerLink="/">Inicio</a></li>
      <li *ngIf="!stateUser"><a routerLink="/login">Iniciar Sesión</a></li>
      <li *ngIf="!stateUser"><a routerLink="/register">Registrar</a></li>
    </ul>
  </div>
</mat-toolbar>