<mat-toolbar color="primary">
  <button mat-icon-button (click)="onMenuToggleDispatch()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    Bienvenido a Sol Tour Bolivia
  </span>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout="row" fxLayoutGap="15px" class="navigation-menu" >
      <li><a routerLink="/register">Registrar</a></li>
      <li><a routerLink="/login">Iniciar Sesión</a></li>
      <li><a routerLink="/">Inicio</a></li>
    </ul>
  </div>
</mat-toolbar>
